@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Orbitron';
  src:  url(./fonts/Orbitron-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Import the Montserrat font */
@font-face {
  font-family: 'Montserrat';
  src:  url(./fonts/Montserrat-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(./fonts/Montserrat-SemiBold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Use Montserrat and Orbitron fonts in your styles */
.font-orbitron {
  font-family: 'Orbitron', sans-serif;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}